<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application android:label="Mobile" android:supportsRtl="true">
    <service
        android:name="androidx.work.impl.background.systemjob.SystemJobService"
        android:permission="android.permission.BIND_JOB_SERVICE"
        android:exported="false"
        tools:replace="android:exported"/>

    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
